<div class="row my-5">
    <div class="col-sm-6 col-md-10 col-lg-10 m-auto">
        <div class="card text-center">
            <div class="card-body">
                <h1 class="card-title">
                    {{titolo}}
                </h1>
                <p class="cart-text">
                    Scrivi le tue note per appuntare le tue idee al volo
                </p>
                <a href="/aggiungi_nota" class="btn btn-block btn-success">Aggiungi una nuova nota</a>
            </div>
        </div>
    </div>
</div>